<!--About us program starts here-->
@*<Ashrit's changes>*@
@{
    ViewData["Title"] = "AboutUS";
}


<html>
<head>
    <meta charset="utf-8" />
    <title>About Us</title>
    <link type="text/css" rel="stylesheet" href="~/css/styles.css">
    <script src="~/js/Custom.js"></script>
</head>
<body>
    <div style="left:0px; width:0px; height:0px">
        <img src="~/img/download.jpg" alt="USF_LOGO" height="60" width="100" /> <!--This function displays the image stored in the file-->
    </div>
    <h1 align="center">About Us </h1>

    <div class="MyCenter" id="myCenter" style="font-family:sans-serif; align-content:center">


        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>

        <a asp-area="" asp-controller="Home" asp-action="Categories">Category</a>

        <a asp-area="" asp-controller="Home" asp-action="Reports">Report</a>

        <a asp-area="" asp-controller="Home" asp-action="States">States</a>

        <a asp-area="" asp-controller="Home" asp-action="Chart">Chart</a>

        <a asp-area="" asp-controller="Home" asp-action="AboutUS">AboutUs</a>

        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>

    </div>
    <br />
    <img src="~/img/sathish_reddy.jpg" alt="Profile picture of sathish_reddy" height="200" width="200" />
    <h2> Sathish Reddy </h2>
    <p>
        Sathish Reddy is an aspriging master's graduate of Business Analytics and Information Systems at the University of South Florida and a Data Science enthusiast
        with a demonstrable history of working in the Financial domain for about 2.5 years at Citi Bank and Capgemini. He is responsible for contributing towards "Layouts of the pages",
        "Categories" pages and Data_model using "Visio" in the 'LookAndFeel' assignment for Distributed Information Systems Course.
    </p>



    <img src="~/img/vinay_ratnala.jpg" alt="Profile picture of Vinay Ratnala" height="200" width="200" />
    <h2> Vinay Ratnala </h2>

    <p>
        Vinay Ratnala worked as a Data Analyst for 2 years at Infosys. He is a focused and diligent student, whos's
        currently pursuing Masters in Business Analytics and Information Systems at University of South Florida. He is
        responsible for contributing towards "report.html","Charts.html" and "Index.html" page in the "LookAndFeel"assignment for Distributed Information
        Systems class.
    </p>

    <img src="~/img/sharvari_bacha.png" alt="Profile picture of Sharvari Bacha" height="200" width="200" />
    <h2> Shavari Bacha</h2>

    <p>
        An aspiring master's graduate of Business Analytics and Information Systems and a software development
        enthusiast having a demonstrable history of work experience over 1 year as a Business Analyst at BLS Implex. She is responsible for contributing towards "States" and "SurveyData"
        pages in the 'LookAndFeel' assignment for Distributed Information Systems class.
    </p>
    <h2>
        GitHub Link to the Project:
        <a href="https://github.com/sourabhreddy369/AgriculturalResourceManagement" target="_blank" style="margin-left:30px"> Assignment_4_Active_CloudSite</a>
    </h2>

    <h2> Data Model for Database:</h2>
    <img src="~/img/data_model.png" alt="Data Model for Database" />
</body>
</html>